html, body{
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: Helvetica, Arial, sans-serif;
}

#content{
    width: 100%;
    height: 100%;
}

#loader{
  position: absolute;
  top: 50px;
  left: 50px;
}

#spinner{
    border: 10px solid #ecececce;
    border-top: 10px solid #3a3a3ae1;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

  .bar-static rect {
    fill: rgb(41, 0, 189);
    shape-rendering: crispEdges;
    opacity: 0.7;
  }

  .bar-mobile rect {
    fill: rgb(6, 179, 0);
    shape-rendering: crispEdges;
    opacity: 0.9;
  }

  .static-line{
    stroke:rgba(41, 0, 189,0.9);
    stroke-width: 1;
  }

  .mobile-line{
    stroke:rgba(6, 179, 0,0.9);
    stroke-width: 1;
  }

  .static-danger-line{
    stroke:rgba(41, 0, 189, 1);
    stroke-width: 2;
    stroke-dasharray: 5, 2;
  }

  .static-sensor-dot{
    fill: rgba(0, 0, 0, 1);
  }

  .mobile-danger-line{
    stroke:rgba(6, 179, 0, 1);
    stroke-width: 2;
    stroke-dasharray: 5, 2;
  }
  
  .bar text {
    fill: #fff;
  }
  
  .axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .map{
      border: 1px solid black;
  }

#timeslider {
    position: absolute;
    top: 500px;
    width: 840px;
    margin-left: auto;
    margin-right: auto;
}

#timebox {
    width: 50%;
    margin-left: 240px;
    margin-right: 2px;
    z-index: 999;
    padding: 4px;
}

#value-time{
    left: 300px;
    font-size: small;
    font-weight: bold;
    font-size: 15px;
}

#sizeslider {
    position: relative;
    top: 90%;
    height: 5%;
    width: 800px;
}

#value-size {
    top: 0px;
    height: 50%;
    width: 100%;
}

.histogram {
  position: absolute;
  margin-left: 20px;
  margin-top: 40px;
  /*border: 1px solid black;*/
}

.histogram-title{
  position: absolute;
  margin-left: 890px;
  margin-top: 10px;
  font-weight: bold;
}

.cpm{
  position: absolute;
  left: 910px;
  top: 420px;
  font-weight: normal;
  font-size: 14px;
}

.static-sensor-text{
  position: absolute;
  left: 700px;
  top: 480px;
  font-weight: bold;
  color: rgba(0,0,200,0.9);
}

.mobile-sensor-text{
  position: absolute;
  left: 694px;
  top: 511px;
  font-weight: bold;
  color: rgba(0,200,0,0.9);
}

.accu-label{
  position: absolute;
  top: 513px;
  left: 420px;
  font-weight: normal;
  font-size: 15px;
}

.accu-label:hover{
  cursor: pointer;
}

.accu-checkbox{
  width: 16px;
  height: 16px;
  margin-left: 10px;
}

.accu-checkbox:hover{
  cursor: pointer;
}

.show-values-text{
  position: absolute;
  top: 455px;
  left: 940px;
  font-weight: bold;
  font-size: 15px;
  width: 40px;
  text-align: center;
}

.show-dist-checkboxes{
  position: absolute;
  width: 30px;
  height: 90px;
  top: 495px;
  left: 855px;
  z-index: 5;
}

.mobile-dist-checkbox{
  margin-top: 10px;
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.static-dist-checkbox{
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.show-dist-text{
  position: absolute;
  top: 455px;
  left: 830px;
  font-weight: bold;
  font-size: 15px;
  width: 50px;
  text-align: center;
}

.mode-section{
  width: 220px;
  height: 20px;
  position: absolute;
  top: 518px;
  left: 30px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}

.mode-select{
  display: inline-block;
  cursor: pointer;
  margin-left: 8px;
}

.static-lines-select{
  position: absolute;
  left: 920px;
  top: 495px;
  cursor: pointer;
}

.mobile-lines-select{
  position: absolute;
  left: 920px;
  top: 526px;
  cursor: pointer;
}

.map-buttons{
  position: absolute;
  top: 6px;
  left: 4px;
  z-index: 5;
}

.map-button{
  cursor: pointer;
  width: 41px;
  height: 34px;
  background-size: 100%;
  margin-left: 4px;
}

#map-button1{
  background-image: url("../images/StHimarkMapBlank.png");
}

#map-button2{
  background-image: url("../images/StHimarkNeighborhoodMapNoLabels.png");
}

#map-button3{
  background-image: url("../images/StHimarkNeighborhoodMap.png");
}

#map-button4{
  background-image: url("../images/StHimarkLabeledMap.png");
}

.danger-value-form{
  position: absolute;
  left: 1050px;
  top: 494px;
  width: 100px;
}

.mobile-danger-value-input{
  margin-top: 12px;
  height: 14px;
}

.static-danger-value-input{
  height: 14px;
}

.indication-text{
  position: absolute;
  left: 1053px;
  top: 436px;
  width: 100px;
  font-weight: bold;
  font-size: 15px;
}