html, body{
    height: 100%;
    width: 100%;
    margin: 0px;
}

#content{
    width: 100%;
    height: 100%;
}

#spinner{
    border: 10px solid #ecececce; /* Light grey */
    border-top: 10px solid #3a3a3ae1; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#myButton{
    position: absolute;
    left: 20px;
    top: 510px;
}

#timeslider {
    position: absolute;
    top: 90%;
    height: 10%;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#timebox {
    position: absolute;
    z-index: 999;
    top: 40px;
}

#value-time{
    position: absolute;
    left: 100px;
    font-size: xx-small;
    font-weight: bold;
}

#sizeslider {
    position: relative;
    top: 90%;
    height: 10%;
    width: 800px;
}

#value-size {
    top: 0px;
    height: 50%;
    width: 100%;
}